body {
    background: white;
}

textarea {
    width: 100%;
    min-height: 146px;
}

th {
    text-align: left;
}

bold {
    font-weight: bold;
}

textarea[disabled] {
    background: white;
}

.control-panel {
    margin: 1em 0 2em 0;
}

.error-message {
    color: red;
    margin: 0 0 15px 0;
    display: none;
}

.certificates-list-column-description {
    white-space: normal;
    width: 400px;
}

.certificates-list-column-created-at {
    white-space: normal;
    #width: 70px;
}

.certificates-list-column-signatures {
    white-space: normal;
    width: 400px;
}

.certificates-list-column-pkey {
    white-space: normal;
    width: 400px;
    height: 200px;
}

#create-new-certificate-button {
    margin: 10px 0 20px 0;
}

input, textarea {
    width: 100%;
    padding: 10px 5px;
    margin: 5px 0 30px 0;
    font-size: 1em;
}

label {
    font-weight: bold;
}

.secrets-list-value {
    height: 200px;
    width: 400px;
    padding: 2px;
}


#master-key-value {
    width: 569px;
    word-break: break-all;
}

.dataTables_wrapper .dataTables_length {
    float: left;
    margin: 1em 1em 2em 0;
}

.select2-container {
    width: 100% !important;
    margin: 5px 0 30px 0;
}

.select2-results__option {
    width: 100% !important;
}

1.select2-results__option table {
    border-collapse: collapse;
    width: 100%;
}

1.select2-results__option table, .select2-results__option th, .select2-results__option td {
    border: 1px solid black;
}

.help {
    color: grey;
    margin: 2px 0 3px 0;
}

.selected-cert-title {
    font-weight: bold;
}

.selected-cert-value {
    margin: 0 10px 0 10px;
}

.select2-selection__rendered {
    word-break: break-word;
    height: auto;
    min-height: 28px;
    white-space: normal !important;
}

.select2-container .select2-selection--single {
    height: auto;
}

.select2-results__options tr {
    display: table;
    width: 100%;
}

.select2-results__options td {
    word-break: break-word;
}

.select2-results__options .cert-option-id {
    width: 10%;
}

.select2-results__options .cert-option-ident {
    width: 20%;
}

.select2-results__options .cert-option-role {
    width: 20%;
}

.select2-results__options .cert-option-valid {
    width: 50%;
}

#saved-master-certificate-value table, .select2-selection__rendered table {
    border-collapse: collapse;
    width: 100%;
}

#saved-master-certificate-value tr, .select2-selection__rendered tr {
    #border-bottom: 1px solid;
}


#saved-master-certificate-value {
    margin: 5px 0 30px 0;
    padding-left: 8px;
    padding-right: 20px;
    padding-top: 1em;
    padding-bottom: 0em;
}


#signature-otf-value {
    word-break: break-all;
    margin: 0 0 2em 0;
}

#scheme-value {
    height: 26em;
}

.warning-check-before-signing {
    font-weight: bold;
    margin: 5px 0 10px 0;
}

.warning-check-before-import {
    font-weight: bold;
    margin: 5px 0 10px 0;
}

.warning-check-before-forget {
    font-weight: bold;
    margin: 5px 0 10px 0;
    color: red;
    font-size: 20px;
}

.signature-date-td {
    width: 6em;
}

#login-form-wrapper {
    width: 960px;
    height: 610px;
    margin:50px auto;
    position:relative;
}


#login-form-main {
    width: 820px;
    margin-top: 80px;
    float:left;
    padding: 10px 55px 10px;
    border: 15px solid white;
    box-shadow: 0 0 10px;
    border-radius: 2px;
}

#login-form-main h1 {
    text-align: center;
}

#login-form-main .error-message {
    text-align: center;
}

#upper-control-panel {
    text-align: right;
}

#logout-button {
    margin: 3px 0 5px;
    width: 10em;
}

.public-key {
	max-width: 200px;
    overflow-wrap: break-word; 
}

td {
    padding: 5px 10px;
}

.scheme-value {
    overflow-wrap: break-word;
    width: 404px;
}

th.searcher {
    border-bottom: 0px !important;
}

th.searcher input {
    margin: 5px 0 0 0;
}

.export-private-key a {
    text-decoration: none;
}

.sign-certificate-button {
    width: 10em;
}

#errors-panel {
	position: fixed;
	left: 0;
	right: 0;
    top: 0;
    height: 2em;
	text-align: center;
	background: red;
    color: white;
}
