body {
    background: white;
}

pre {
    word-break: break-all;
    width: 600px !important;
    overflow-x: scroll;
    padding: 2em;
}

.approver-data {
    width: 100px;
}

textarea {
    width: 100%;
    min-height: 146px;
}

th {
    text-align: left;
}

bold {
    font-weight: bold;
}

textarea[disabled] {
    background: white;
}

.control-panel {
    margin: 1em 0 2em 0;
}

.error-message {
    color: red;
    margin: 0 0 15px 0;
    display: none;
}

input, textarea {
    width: 100%;
    padding: 10px 5px;
    margin: 5px 0 30px 0;
    font-size: 1em;
}

label {
    font-weight: bold;
}

.dataTables_wrapper .dataTables_length {
    float: left;
    margin: 1em 1em 2em 0;
}

.help {
    color: grey;
    margin: 2px 0 3px 0;
}

.warning-check-before-signing {
    font-weight: bold;
    margin: 5px 0 10px 0;
}

.warning-check-before-import {
    font-weight: bold;
    margin: 5px 0 10px 0;
}

.warning-check-before-forget {
    font-weight: bold;
    margin: 5px 0 10px 0;
    color: red;
    font-size: 20px;
}

#login-form-wrapper {
    width: 960px;
    height: 610px;
    margin:50px auto;
    position:relative;
}


#login-form-main {
    width: 820px;
    margin-top: 80px;
    float:left;
    padding: 10px 55px 10px;
    border: 15px solid white;
    box-shadow: 0 0 10px;
    border-radius: 2px;
}

#login-form-main h1 {
    text-align: center;
}

#login-form-main .error-message {
    text-align: center;
}

#upper-control-panel {
    text-align: right;
}

td {
    padding: 5px 10px;
}

#errors-panel {
	position: fixed;
	left: 0;
	right: 0;
    top: 0;
    height: 2em;
	text-align: center;
	background: red;
    color: white;
}
